streamlit
streamlit_option_menu
streamlit_tags
pdfplumber
pdfminer3
spacy
scikit-learn
pandas
numpy
firebase-admin
google-cloud-firestore
openai
pyresparser
pyrebase4
matplotlib
seaborn
google-generativeai == 0.5.3
yt-dlp
plotly
